.title{
    text-align: center;
    padding :4px ;

}

.text-input{
    display: flex;
    justify-content: center;
    align-items: center;

}
.title-text-input{
    text-align: center;
    
}

.formContainer { 
  border: 1px solid rgb(71, 70, 70) ;
  border-radius: 10px;
  padding: 10px 5px;
  margin: 10px 5px;
  
}
.error{
    border-radius: 10px;
    border-color: rgb(237, 56, 56);
    background-color: rgb(216, 131, 131);
    color:azure;
    padding :5px 10px;
    
}